@font-face {
  font-family: "Oswald";
  src: url("../src/font/Oswald.ttf");
}
* {
  padding: 0;
  margin: 0;
}
*::selection {
  background-color: red;
  color: #fff;
}
* a {
  color: white;
  text-decoration: none;
}

body {
  background: url("../src/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Oswald";
}

.container-website {
  max-width: 1200px;
  margin: auto;
}
.container-website header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  color: white;
}
.container-website header nav .navigation {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px 40px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
}
.container-website header nav .navigation a {
  cursor: pointer;
  transition: 0.3s;
}
.container-website header nav .navigation a:hover {
  color: red;
}
.container-website header nav .navigation .steam-account a {
  display: flex;
  align-items: center;
}
.container-website header nav .navigation .steam-account b {
  margin-left: 10px;
}
.container-website header nav .navigation .steam-account img {
  width: 110px;
  border-radius: 5px;
}
.container-website header nav .navigation .steam-account .dropdown {
  position: relative;
  display: inline-block;
}
.container-website header nav .navigation .steam-account .dropdown-content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  min-width: 200px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  display: none;
  padding: 10px;
}
.container-website header nav .navigation .steam-account .dropdown-content a {
  border-top: 1px solid black;
}
.container-website header nav .navigation .steam-account .dropdown-content span {
  margin-bottom: 10px;
}
.container-website header nav .navigation .steam-account .dropdown:hover .dropdown-content {
  display: flex;
}
.container-website header nav .navigation img {
  cursor: pointer;
}
.container-website main {
  margin-top: 100px;
}
.container-website main .info-container {
  height: 225px;
  display: flex;
  justify-content: space-between;
}
.container-website main .info-container .info-nolife {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  height: 250px;
  width: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  animation: loadhome 2s;
}
.container-website main .info-container .info-nolife img {
  width: 80px;
  margin-top: 15px;
}
.container-website main .info-container .info-nolife ul {
  margin-top: 15px;
}
.container-website main .info-container .vip-avantage img {
  width: 65px;
}
.container-website main .general-container {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  height: 500px;
  margin-top: 80px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: loadhome 2s;
}
.container-website main .general-container .left-container {
  height: 430px;
  width: 550px;
  padding: 10px;
}
.container-website main .general-container .left-container .header-leftside {
  margin-bottom: 50px;
}
.container-website main .general-container .left-container .header-leftside h2 {
  color: red;
  font-size: 35px;
}
.container-website main .general-container .left-container .header-leftside h2 span {
  color: #fff;
}
.container-website main .general-container .left-container .header-leftside p {
  color: #fff;
  font-size: 16px;
}
.container-website main .general-container .left-container p {
  font-size: 20px;
  color: #fff;
}
.container-website main .general-container .left-container .joinus {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.container-website main .general-container .left-container .joinus button {
  padding: 15px 30px;
  border-radius: 10px;
  color: #fff;
  background-color: red;
  border: 1px solid #000;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
.container-website main .general-container .left-container .joinus button:hover {
  color: red;
  background-color: #fff;
}
.container-website main .general-container .right-container {
  height: 450px;
  width: 570px;
}
.container-website main .general-container .right-container video {
  width: 100%;
  height: 100%;
}

footer {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  height: 200px;
  margin-top: 80px;
  display: flex;
  align-items: center;
}
footer .footer-partner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
footer .footer-partner img {
  width: 200px;
  cursor: pointer;
  transition: 0.3s;
}
footer .footer-partner img:hover {
  transform: scale(1.1);
}

.general-server {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  height: 700px;
  margin-top: 80px;
  border-radius: 10px;
  display: flex;
  animation: loadhome 2s;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.general-server .show {
  display: flex !important;
}
.general-server .player-online {
  font-size: 16px;
  color: white;
  margin-top: 10px;
}
.general-server .list-mod-servers {
  color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-bottom: 2px solid #E40000;
  width: 90%;
}
.general-server .list-mod-servers span {
  background-color: #E40000;
  padding: 2.5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.general-server .list-mod-servers span:hover {
  background-color: #990000;
}
.general-server .list-server::-webkit-scrollbar {
  width: 0px;
}
.general-server .list-server {
  overflow-y: scroll;
}
.general-server .list-server .servers {
  color: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 150px;
  font-size: 16px;
  transition: 0.2s;
  margin-bottom: 15px;
}
.general-server .list-server .servers h2 {
  width: 85px;
}
.general-server .list-server .servers p {
  width: 70px;
}
.general-server .list-server .servers:hover {
  background-color: rgba(228, 0, 0, 0.47);
}
.general-server .list-server .servers .server-title {
  font-size: 16px;
  width: 85px;
}
.general-server .list-server .servers .server-manyPlayer {
  font-size: 16px;
}
.general-server .list-server .servers .server-map {
  font-size: 16px;
}
.general-server .list-server .servers .server-ip {
  font-size: 16px;
}
.general-server .list-server .servers button {
  background: linear-gradient(90deg, #E40000, #990000);
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
