@font-face {
  font-family: "Oswald";
  src: url("../src/font/Oswald.ttf");
}
@font-face {
  font-family: "Prompt";
  src: url("../src/font/Prompt.ttf");
}
* {
  padding: 0;
  margin: 0;
}
*::selection {
  background-color: gray;
  color: #fff;
}
* a {
  color: white;
  text-decoration: none;
}

body {
  background: url("../src/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Oswald";
}

#spinner2 {
  position: absolute;
  right: 350px;
}

.activ {
  color: red !important;
}

.activ-stats {
  background-color: red !important;
}

.button-steam {
  background-color: red;
  padding: 10px 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.steam {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.steam .burger-steam {
  display: none;
  flex-direction: column;
  width: 200px;
  background-color: #000;
  color: #c0c0c2;
  margin-top: 20px;
  border-radius: 5px;
  position: absolute;
  top: 70px;
  right: 0px;
  z-index: 1000;
}
.steam .burger-steam .fa-caret-up {
  position: absolute;
  top: -16px;
  right: 27px;
  font-size: 30px;
  color: #000;
  z-index: -1;
}
.steam .burger-steam .fa-caret-up:hover {
  color: #000;
}
.steam .burger-steam div:nth-child(4) {
  color: red;
}
.steam .burger-steam #stats {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  border-top-right-radius: 4px;
  padding: 10px 15px;
  border-left: 2px solid transparent;
  cursor: pointer;
}
.steam .burger-steam #stats:hover {
  background-color: #330000;
  border-left: 2px solid red;
}
.steam .burger-steam #support {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  border-top-right-radius: 4px;
  padding: 10px 15px;
  border-left: 2px solid transparent;
  cursor: pointer;
}
.steam .burger-steam #support:hover {
  background-color: #330000;
  border-left: 2px solid red;
}
.steam .burger-steam #steam-logout {
  color: red;
  border-bottom-right-radius: 4px;
}
.steam .burger-steam div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  cursor: pointer;
  border-left: 2px solid transparent;
  padding: 10px 15px;
}
.steam .burger-steam div:hover {
  background-color: #330000;
  border-left: 2px solid red;
}
.steam .steam-avatar {
  width: 70px;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  border: 2px solid transparent;
  transition: 0.2s;
}
.steam .steam-avatar:hover {
  border: 2px solid rgb(216, 81, 81);
}
.steam .steam-name {
  margin-top: 10px;
  font-size: 18px;
}

.container-website {
  max-width: 1400px;
  margin: auto;
}
.container-website header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  color: white;
}
.container-website header nav .reseau-login {
  display: flex;
  align-items: center;
  gap: 30px;
}
.container-website header nav .reseau-login i {
  font-size: 20px;
  transition: 0.3s;
}
.container-website header nav .reseau-login i:hover {
  color: red;
}
.container-website header nav .navigation {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 18px;
}
.container-website header nav .navigation a {
  cursor: pointer;
  transition: 0.3s;
}
.container-website header nav .navigation a:hover {
  color: red;
}
.container-website header nav .navigation .steam-account a {
  display: flex;
  align-items: center;
}
.container-website header nav .navigation .steam-account b {
  margin-left: 10px;
}
.container-website header nav .navigation .steam-account img {
  width: 110px;
  border-radius: 5px;
}
.container-website header nav .navigation .steam-account .dropdown {
  position: relative;
  display: inline-block;
}
.container-website header nav .navigation .steam-account .dropdown-content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  min-width: 200px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  display: none;
  padding: 10px;
}
.container-website header nav .navigation .steam-account .dropdown-content a {
  border-top: 1px solid black;
}
.container-website header nav .navigation .steam-account .dropdown-content span {
  margin-bottom: 10px;
}
.container-website header nav .navigation .steam-account .dropdown:hover .dropdown-content {
  display: flex;
}
.container-website header nav .navigation img {
  cursor: pointer;
}
.container-website main {
  margin-top: 100px;
}
.container-website main .info-container {
  height: 225px;
  display: flex;
  justify-content: space-between;
}
.container-website main .info-container iframe {
  width: 49%;
}
.container-website main .info-container .info-nolife {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  height: 250px;
  width: 49%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  animation: loadhome 2s;
}
.container-website main .info-container .info-nolife img {
  width: 80px;
}
.container-website main .info-container .fa-solid.fa-users, .container-website main .info-container .title-reseau {
  font-size: 25px;
  margin-top: 20px;
}
.container-website main .info-container .vip-avantage img {
  width: 65px;
}
.container-website main .general-container {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  height: 500px;
  margin-top: 80px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loadhome 2s;
  font-family: "Prompt";
}
.container-website main .general-container .left-container {
  padding: 20px;
}
.container-website main .general-container .left-container .header-leftside {
  margin-bottom: 50px;
}
.container-website main .general-container .left-container .header-leftside h2 {
  color: red;
  font-size: 35px;
}
.container-website main .general-container .left-container .header-leftside h2 span {
  color: #fff;
}
.container-website main .general-container .left-container .header-leftside p {
  color: #fff;
  font-size: 16px;
}
.container-website main .general-container .left-container p {
  font-size: 20px;
  color: #fff;
}
.container-website main .general-container .left-container p span {
  color: red;
}
.container-website main .general-container .left-container .joinus {
  width: 100%;
  display: flex;
  margin-top: 100px;
}
.container-website main .general-container .left-container .joinus button {
  padding: 15px 30px;
  color: #fff;
  background-color: red;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  font-family: "Prompt";
  letter-spacing: 2px;
}
.container-website main .general-container .left-container .joinus button:hover {
  color: red;
  background-color: #fff;
}
.container-website main .general-container .right-container {
  height: 450px;
  width: 570px;
}
.container-website main .general-container .right-container video {
  width: 100%;
  height: 100%;
}

footer {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  height: 200px;
  margin-top: 80px;
  display: flex;
  align-items: center;
}
footer .footer-partner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
footer .footer-partner img {
  width: 200px;
  cursor: pointer;
  transition: 0.3s;
}
footer .footer-partner img:hover {
  transform: scale(1.1);
}

.popupDiv {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.general-server {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  height: 700px;
  margin-top: 80px;
  border-radius: 10px;
  display: flex;
  animation: loadhome 2s;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.general-server .show {
  display: flex !important;
}
.general-server .player-online {
  font-size: 16px;
  color: white;
  margin-top: 10px;
}
.general-server .list-mod-servers {
  color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-bottom: 2px solid #E40000;
  width: 90%;
}
.general-server .list-mod-servers span {
  background-color: #E40000;
  padding: 2.5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.general-server .list-mod-servers span:hover {
  background-color: #990000;
}
.general-server .list-server::-webkit-scrollbar {
  width: 0px;
}
.general-server .list-server {
  overflow-y: scroll;
}
.general-server .list-server .servers {
  color: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 150px;
  font-size: 16px;
  transition: 0.2s;
  margin-bottom: 15px;
}
.general-server .list-server .servers p {
  width: 70px;
}
.general-server .list-server .servers:hover {
  background-color: rgba(228, 0, 0, 0.47);
}
.general-server .list-server .servers .server-title {
  font-size: 16px;
  width: 100px;
}
.general-server .list-server .servers .server-manyPlayer {
  font-size: 16px;
}
.general-server .list-server .servers .server-map {
  font-size: 16px;
}
.general-server .list-server .servers .server-ip {
  font-size: 16px;
}
.general-server .list-server .servers a {
  background: linear-gradient(90deg, #E40000, #990000);
  padding: 5px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.errorForm {
  color: red;
  margin-top: 20px;
}

.container-formulaire {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 231px;
}
.container-formulaire .not_connected-form {
  color: red;
  font-size: 20px;
}
.container-formulaire h1 {
  color: #fff;
  margin-bottom: 10px;
}
.container-formulaire .separator {
  width: 250px;
  background-color: red;
  height: 3px;
  border-radius: 50px;
}
.container-formulaire .form-support .signalement, .container-formulaire .form-support .adhesion-staff {
  display: none;
}
.container-formulaire .form-support #submit {
  padding: 15px 30px;
  color: #fff;
  background-color: red;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  font-family: "Prompt";
  letter-spacing: 2px;
  margin-top: 20px;
  display: none;
}
.container-formulaire .form-support #submit:hover {
  color: red;
  background-color: #fff;
}
.container-formulaire .form-support div {
  margin-top: 40px;
}
.container-formulaire .form-support div p {
  color: white;
  font-size: 25px;
  position: relative;
}
.container-formulaire .form-support div p span {
  color: red;
  position: absolute;
  top: -10px;
  margin-left: 5px;
}
.container-formulaire .form-support div select {
  margin-top: 15px;
  height: 30px;
  width: 250px;
  border-radius: 5px;
  padding: 0px 10px;
}
.container-formulaire .form-support div select:focus {
  outline: none;
}
.container-formulaire .form-support div input {
  margin-top: 15px;
  height: 30px;
  width: 400px;
  border-radius: 5px;
  padding: 0px 10px;
  border: none;
}
.container-formulaire .form-support div input:focus {
  outline: none;
}
.container-formulaire .form-support div textarea {
  margin-top: 15px;
  height: 150px;
  width: 400px;
  border-radius: 5px;
  padding: 10px 10px;
  border: none;
}
.container-formulaire .form-support div textarea:focus {
  outline: none;
}

.stats-container {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  height: 500px;
  margin-top: 80px;
  border-radius: 10px;
  display: flex;
  font-family: "Prompt";
  color: #fff;
  flex-direction: column;
}
.stats-container .navigation-serveurs {
  display: flex;
  padding: 20px;
  gap: 20px;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.stats-container .navigation-serveurs p {
  display: flex;
  cursor: pointer;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.stats-container .navigation-serveurs p:hover {
  background-color: red;
}
.stats-container .stats-detail {
  padding: 40px;
  display: flex;
}
.stats-container .stats-detail .left-side {
  width: 50%;
}
.stats-container .stats-detail .left-side .details {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.stats-container .stats-detail .left-side .details div {
  background-color: rgb(82, 14, 14);
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.stats-container .stats-detail .right-side {
  width: 50%;
}
.stats-container .stats-detail .right-side .details {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.stats-container .stats-detail .right-side .details div {
  background-color: rgb(82, 14, 14);
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.stats-container .ffa-stats, .stats-container .hsmod-stats {
  display: none;
}

@media screen and (max-width: 900px) {
  nav {
    flex-direction: column;
  }
  nav img {
    margin-bottom: 20px;
  }
  .info-container {
    height: auto !important;
    flex-direction: column;
    align-items: center;
  }
  .info-container .info-nolife {
    width: 85% !important;
    margin-bottom: 20px;
  }
  .general-container {
    height: auto !important;
    width: 90%;
    margin: auto;
  }
  footer {
    height: auto !important;
  }
  .footer-partner {
    flex-direction: column;
  }
  .general-server {
    width: 90%;
    margin: auto;
  }
  .general-server .list-mod-servers {
    flex-direction: column;
  }
  .general-server .servers {
    justify-content: flex-start !important;
  }
}

/*# sourceMappingURL=style.css.map */
