.general-server {
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(15px);
  height: 700px;
  margin-top: 80px;
  border-radius: 10px;
  display: flex;
  animation: loadhome 2s;
  display: flex;
  flex-direction: column;
  text-align: center;

  .show {
    display: flex !important;
  }

  .player-online {
    font-size: 16px;
    color: white;
    margin-top: 10px;
  }

  .list-mod-servers {
    color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-bottom: 2px solid #E40000;
    width: 90%;

    span {
      background-color: #E40000;
      padding: 2.5px 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #990000;
      }
    }
  }

  .list-server::-webkit-scrollbar {
    width: 0px;
  }

  .list-server {
    overflow-y: scroll;
    .servers {
      color: #fff;
      display: none;
      align-items: center;
      justify-content: center;
      gap: 150px;
      font-size: 16px;
      transition: 0.2s;
      margin-bottom: 15px;

      h2 {
        width: 85px;
      }

      p {
        width: 70px;
      }

      &:hover {
        background-color: rgba(#E40000,.47);
      }

      .server-title {
        font-size: 16px;
        width: 85px;
      }

      .server-manyPlayer {
        font-size: 16px;
      }

      .server-map {
        font-size: 16px;
      }
      
      .server-ip {
        font-size: 16px;
      }

      button {
        background: linear-gradient(90deg,#E40000,#990000);
        padding: 10px 50px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
      }
    }
  }
}